<aside>
    <h4>Recent Posts</h4>
    <ul class="recent-posts">
        {% if (locals.posts && locals.posts.length > 0) { %}
            {% for(var i = 0; i < (posts.length < 5 ? posts.length : 5); i++) { %}
                <li>&#187; <a href="/{%- posts[i].metadata.slug %}">{%- posts[i].metadata.title %}</a></li>
            {% } %}
        {% } else { %}
            <li>No posts</li>
        {% } %}
    </ul>
</aside>

<aside>
    <h4>Tags</h4>
    {% if (locals.tags && Object.keys(locals.tags).length > 0) { %}
        <p class="tags">
            {% for(var i = 0; i < tags.length; i++) { %}
                {%
                    var cssClass = '';
                    if (tags[i].count > 20) cssClass = 'big';
                    else if (tags[i].count > 10) cssClass = 'medium';
                    else if (tags[i].count > 1) cssClass = 'small';
                %}
                <a class="tag {%= cssClass %}" href="/tag/{%= tags[i].name %}">{%= tags[i].name %}</a>
            {% } %}
        </p>
    {% } else { %}
        <p>No tags</p>
    {% } %}
</aside>
