<article>
    <h2><a href="/{%- post.metadata.slug %}">{%- post.metadata.title %}</a></h2>
    <p class="date">
        Published {%-: post.metadata.date | formatDateString %}
    </p>

    <section>
        {%-: post.content | formatMarkdown %}
    </section>

    <p class="metadata">
        {% if (!fullpost) { %}
        <a href="/{%- post.metadata.slug %}#disqus_thread">No comments</a> |
        {% } %}

        <span class="tags">
            Tags:
            {% if (post.metadata.tags) { %}
                {% for(var i = 0; i < post.metadata.tags.length; i++) { %}
                    {% var tag = post.metadata.tags[i] %}
                    <a class="tag" href="/tag/{%= tag %}">{%= tag %}</a>
                {% } %}
            {% } else { %}
                <span class="no-tags">No tags</span>
            {% } %}
        </span>
    </p>

    {% if (fullpost) { %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'adamkdean';
        (function () {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% } %}
</article>
