<div class="grid-container next-previous">
    <div class="grid-20">
        {% if (pageNumber > 1) { %}
            <a href="{%= params && params.tag && '/tag/' + params.tag || '' %}/page/{%= parseInt(pageNumber)-1 %}" class="previous">
                &laquo; Previous
            </a>
        {% } else { %}
            &nbsp;
        {% } %}
    </div>
    <div class="grid-60 page-info">
        Showing posts {%= pageOffset+1 %}-{%= pageOffset+postsPerPage %} of {%= activePosts.length %}
    </div>
    <div class="grid-20">
        {% if (pageNumber < maxPages) { %}
            <a href="{%= params && params.tag && '/tag/' + params.tag || '' %}/page/{%= parseInt(pageNumber)+1 %}" class="next">
                Next &raquo;
            </a>
        {% } else { %}
            &nbsp;
        {% } %}

    </div>
</div>
