/* Author: Adam K Dean
 * Site:   adamkdean.co.uk
 * File:   blog.scss
 */

article {
    @include border-radius(4px);
    background: white;
    padding: 6px 20px;
    margin: 15px 0;

    h3 {
        font-size: 180%;
        margin: 25px 0 15px 0;
        padding: 0;
    }

    h6 {
        font-size: 90%;
        margin: 0;
    }

}
