<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div class="header">
        <a href="/">index</a> |
        <a href="/tags">tags</a> |
        <a href="/tag/test">tag example</a> |
        <a href="/test-post-one">post example</a>
    </div>

    <div class="content">
        <%- body %>
    </div>

    <div class="footer">
        Powered by Jazzberry v<%= version %>.
    </div>
</body>
</html>
