/* Author: Adam K Dean
 * Site:   adamkdean.co.uk
 * File:   layout.scss
 */

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

header {
    border-top: $headerBorderWidth solid white;
    border-bottom: $headerBorderWidth solid $headerBorderColor;
    background: $headerBackground;
    width: 100%;
    height: $headerHeight;
    padding: 20px;

    > div {
        height: 100%;

        > * {
            @include valign-middle;
        }
    }

    .logo {
        width: 48px;
        height: 48px;
    }

    .search {
        @include transition(width 0.5s ease-in-out);

        float: right;
        width: 35px;
        padding: 0 5px;
        height: 30px;
        line-height: 30px;
        text-align: left;

        i {
            font-size: 120%;
            color: $searchColor;
            cursor: pointer;

            &:hover {
                color: darken($searchColor, 5);
            }
        }

        input {
            display: none;
        }

        &.shrunk {
            @include border-radius($borderRadius);
            @include transition(all 0.5s ease-in-out);
            background: #fff;
            width: 35px;

            i {
                color: #fff;
            }
        }

        &.active {
            @include border-radius($borderRadius);
            background: $searchColor;
            width: 220px;

            input {
                @include placeholder-color(#fff);
                @include calc(width, "100% - 30px");

                background: transparent;
                border: none;
                outline: none;
                height: 29px;
                line-height: 30px;
                font-size: 100%;
                color: white;
                display: inline-block;
            }

            i {
                color: #fff;
            }
        }
    }
}

main {
    @include calc(min-height, "100% - #{$headerHeight}");
    margin: 0px auto (-$footerHeight);
    background: $mainBackground;
    padding: 10px 0;
}

footer, .push {
    height: $footerHeight;
}

footer {
    border-top: $footerBorderWidth solid $footerBorderColor;
    background: $footerBackground;
    color: $footerForeground;
    padding: 20px 0;

    i {
        font-size: 160%;
    }

    > div {
        height: 100%;

        > * {
            @include valign-middle;
        }
    }

    a, a:active, a:visited {
        color: darken($footerForeground, 10);
        text-decoration: none;

        &:hover {
            color: $footerForeground;
            text-decoration: underline;
        }
    }

    p.credits {
        font-size: 80%;
        line-height: 140%;
    }
}
