/* Jazzberry template
 * blog.scss
 */

.content {
    .left {
        float: left;
        width: 70%;
        padding-right: 5px;
    }
    .right {
        float: right;
        width: 30%;
        padding-left: 5px;

        .section {
            margin-bottom: 30px;

            h3 {
                margin: 10px 0px;
            }

            .recent-posts {
                p {
                    margin: 6px 0;
                }
            }

            .tags {
                margin: 0;

                a {
                    display: inline-block;
                    padding: 4px 10px;
                    background: $jazzberryJam;
                    color: white;

                    &:hover {
                        background: darken($jazzberryJam, 5);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
