/* Author: Adam K Dean
 * Site:   adamkdean.co.uk
 * File:   blog.scss
 */

article {
    @include border-radius($borderRadius);
    border-bottom: $articleBorderWidth solid $articleBorderColor;
    background: white;
    padding: .5em 1.5em 1em;
    margin: 15px 0;

    p.date {
        padding: 0 0 .5em;
        margin: 0;
        color: #444;
        font-size: .9em;
        font-style: italic;
    }

    p.metadata {
        padding: 2em 0 .5em;
        margin: 0;
        font-size: .95em;

        span.tags {
            span.no-tags {
                color: #444;
                font-style: italic;
            }
        }
    }
}

aside {
    @include border-radius($borderRadius);
    border-bottom: $asideBorderWidth solid $asideBorderColor;
    background: white;
    padding: .5em 1.5em 1em;
    margin: 15px 0;

    h4 {
        padding: .5em 0;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            padding: .15em 0;
        }
    }
}

.tag {
    @include border-radius($borderRadiusSmall);
    display: inline-block;
    background: $colorPastelBlue;
    color: white;
    padding: .1em .5em;
    margin: .15em 0;
    font-size: .9em;

    &:hover {
        color: white;
        background: $colorPastelBlueDarker;
    }

    &.big {
        font-size: 1.3em;
    }
    &.medium {
        font-size: 1.2em;
    }
    &.small {
        font-size: 1.1em;
    }
}

.next-previous {
    @include border-radius($borderRadius);
    border-bottom: $articleBorderWidth solid $articleBorderColor;
    background: white;
    padding: .5em .5em;
    font-size: 0.9em;

    a {
        &.previous {
            float: left;
        }
        &.next {
            float: right;
        }
    }

    .page-info {
        text-align: center;
    }

    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }
}
