/* Jazzberry template
 * fonts.scss
 */

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('../fonts/bebasneue_book-webfont.eot');
    src: url('../fonts/bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bebasneue_book-webfont.woff') format('woff'),
    url('../fonts/bebasneue_book-webfont.ttf') format('truetype'),
    url('../fonts/bebasneue_book-webfont.svg#bebas_neuebook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneue_regular-webfont.eot');
    src: url('../fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bebasneue_regular-webfont.woff') format('woff'),
    url('../fonts/bebasneue_regular-webfont.ttf') format('truetype'),
    url('../fonts/bebasneue_regular-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Bold';
    src: url('../fonts/bebasneue_bold-webfont.eot');
    src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bebasneue_bold-webfont.woff') format('woff'),
    url('../fonts/bebasneue_bold-webfont.ttf') format('truetype'),
    url('../fonts/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Thin';
    src: url('../fonts/bebasneue_thin-webfont.eot');
    src: url('../fonts/bebasneue_thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bebasneue_thin-webfont.woff') format('woff'),
    url('../fonts/bebasneue_thin-webfont.ttf') format('truetype'),
    url('../fonts/bebasneue_thin-webfont.svg#bebas_neuethin') format('svg');
    font-weight: lighter;
    font-style: normal;
}
