/* Jazzberry template
 * typography.scss
 */

$jazzberryJam: #A50B5E; // Crayola Jazzberry Jam

html, body {
    font-family: sans-serif;
    font-size: 0.95em;
}

a {
    color: $jazzberryJam;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.site_name {
    font-size: 350%;
    font-family: 'Bebas Neue';
    color: $jazzberryJam;
}

ul.nav li a {
    font-size: 150%;
    font-family: 'Bebas Neue';
}
